*.DS_Store
*.ipynb_checkpoints*
__pycache__/

# Add more files & directories as needed
*.parquet

*.dbf
*.prj
*.sbx
*.sbn
taxi_zones/taxi_zones.shp
taxi_zones/taxi_zones.shp.xml
taxi_zones/taxi_zones.shx
